@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply transition-colors duration-200;
}

html {
  @apply scroll-smooth;
}

body {
  @apply bg-dark-bg text-gray-100 font-sans;
}

/* Scrollbar personalizado */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #111827;
}

::-webkit-scrollbar-thumb {
  background: #206DDA;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #1e5fa8;
}
